# Datasets
data/
yt_temp/
# output_videos/ (Commented out to allow pushing specific videos)


# Models & Checkpoints
runs/
checkpoints/
*.pt
*.pth
*.h5

# Python
__pycache__/
*.pyc
venv/
.env

# IDE
.vscode/
.idea/
